.StepperArea {
    padding: 10px 10px 10px 10px;
    display: inline-block;
}

.StepperButton {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

.StepperButton:disabled {
    background-color: gray;
    color: black;
}