.SubmitButton {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}

.SubmitButton:disabled {
    background-color: gray;
    color: black;
}